/* Header */

:root {
    --heading-primary: #25265e;
    --border-color: #d3dce6;
    --footer-bg-color: #1c2130;
    font-family: "Raleway", "Roboto", sans-serif;
}

.header {
    height: 64px;
    border-bottom: 1px solid var(--border-color);
    padding-left: 25rem;
    padding-right: 25rem;
    font-size: 18px;
}

.header__nav {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
}

.header__nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__nav__items--left {
    width: 70%;
    gap: 2rem;
    font-size: 16px;
}

.header__nav__items--right {
    width: 30%;
    gap: 2rem;
    justify-content: end;
    font-size: 22px;
}

.header__nav__item {

}

.header__nav__item__link {
    text-decoration: none;
    color: var(--heading-primary);
}

/* Main */

.main {
    min-height: 30lvh;
}

/* Footer */

.footer {
    border-top: 1px solid var(--border-color);
    min-height: 300px;
    background-color: var(--footer-bg-color);
}